{% extends "_base.html" %}

{% block content %}

<row>
    <div class="col-md-12" style="margin-bottom:20px;">
        <div style="float:left; color:#999">Streaming updates. Refreshing in <span id="timer">59</span>s...</div> 
        <div style="float:right;">
            <a id="auth" class="btn " href="auth/authorize" role="button">...</a>
            <a class="btn btn-default" href="settings" role="button">Settings</a>
        </div>
    </div>
</row>

<row style="margin-top:20px" style="height:30%">
    <div class="col-md-12">
        <iframe style="width:100%; height:100%; min-height:320px" src="event/uniqueusers" ></iframe>
    </div>
</row>
<row style="margin-top:20px" style="height:30%">
    <div class="col-md-6">
        <iframe style="width:100%; height:100%; min-height:320px" src="event/file" ></iframe>
    </div>
    <div class="col-md-6">
        <iframe style="width:100%; height:100%; min-height:320px" src="event/engagement" ></iframe>
    </div>
</row>

{% endblock %}

{% block js %}
<script language="javascript">
$(function(){
    $.getJSON('auth/is_authorized', function (is_authorized) {
        var btn_class = is_authorized ? 'btn-success' : 'btn-warning';
        var btn_text = is_authorized ? 'Authorized' : 'Authorize';
        $("#auth").addClass(btn_class);
        $("#auth").html(btn_text);
    });
    var timer = 59;
    setInterval(function(){
       timer = timer > 0 ? timer - 1 : 59; 
       $("#timer").html(timer);
    }, 1000);
});
</script>

{% endblock %}
