{% extends "_base.html" %}

{% block content %}

<row>
    <div class="col-md-12">
        <div style="float:right; margin-bottom:20px;">
            <a id="auth" class="btn" href="auth/authorize" role="button">...</a>
            <a class="btn btn-default" href="settings" role="button">Settings</a>
        </div>
    </div>
</row>

<row style="margin-top:20px">
    <div class="col-md-6">
        <iframe style="width:100%; height:100%; min-height:500px" src="event/file" ></iframe>
    </div>
    <div class="col-md-6">
        <iframe style="width:100%; height:100%; min-height:500px" src="event/engagement" ></iframe>
    </div>
</row>
<row style="margin-top:20px">
    <div class="col-md-6">
        <iframe style="width:100%; height:100%; min-height:500px" src="event/uniqueusers" ></iframe>
    </div>
</row>

{% endblock %}

{% block js %}
<script language="javascript">
$(function(){
    $.getJSON('auth/is_authorized', function (is_authorized) {
        var btn_class = is_authorized ? 'btn-success' : 'btn-warning';
        var btn_text = is_authorized ? 'Authorized' : 'Authorize';
        $("#auth").addClass(btn_class);
        $("#auth").html(btn_text);
    });
});
</script>

{% endblock %}
