{% extends "_base.html" %}

{% block content %}
<div class="col-md-4 col-xs-12">
  <form action="/settings" method="POST">
    <div class="form-group">
      <label for="client_id">Box App Client ID</label>
      <input type="text" name="client_id" class="form-control" id="client_id">
    </div>
    <div class="form-group">
      <label for="client_secret">Box App Client Secret</label>
      <input type="text" name="client_secret" class="form-control" id="client_secret">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</div>
{% endblock %}

{% block js %}
{% endblock %}