{% extends "_base.iframe.html" %}

{% block content %}

<div id="chart"></div>

{% endblock %}

{% block js %}
<script language="javascript">
$(function () {
    //events = ['UPLOAD', 'DOWNLOAD', 'DELETE', 'COLLABORATION_INVITE','COLLABORATION_ACCEPT'],
    events = ['UPLOAD', 'DOWNLOAD', 'DELETE'],
    display_name = ['Uploads', 'Downloads', 'Deletes']
    chartsCreated = false;
     
    setSeries = function() {
        $.getJSON('stat?event_type=' + events.join(), function (data) {
            if (chartsCreated == false){
                chartsCreated = true;
                createCharts(data);
                setInterval(setSeries, 60 * 1000);
            }
            else{
                updateCharts(data);
            }
        });
    };
    
    function createCharts(data){
        console.log('creating charts')

        var series = [];
        for (i=0; i < data.length; i++){
            series.push({
                name: display_name[i],
                data: data[i]
            });
        }
        
        createChart(series);
        //createShortRangeChart(series);
    }
    
    function updateCharts(data){
        console.log('updating charts')
        var chart = $("#chart").highcharts(); 
        for (i=0; i < data.length; i++){
            chart.series[i].setData(data[i], false);
        }
    }

    function addDataPoint(dataPoint, chartId){
        var series = $("#chart").highcharts().series[i]
        if (series.data[series.data.length-1].x != dataPoint[0])
        {
            series.addPoint(dataPoint, true, true);
        }
    }
    
    // create the chart when all data is loaded
    function createChart(series) {
        $('#chart').highcharts('StockChart', {
            title : {
                text : "File Activity"
            },
            rangeSelector: {
                buttons: [{
                        count: 1,
                        type: 'd',
                        text: '1d'
                    },{
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 3,
                        text: '3m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'ytd',
                        text: 'YTD'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                inputEnabled: true,
                selected: 0
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                valueDecimals: 0
            },
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: series
        });
    };

    function createShortRangeChart(series) {
        $('#container_6H').highcharts('StockChart', {           
            rangeSelector: {
                buttons: [{
                    count: 10,
                    type: 'minute',
                    text: '10m'
                }],
                inputEnabled: false,
                selected: 0
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                valueDecimals: 0
            },
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: series
        });
    };

    setSeries();
    
});
</script>
{% endblock %}